
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #000000;
}


header {
    background-color: #333333;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    font-size: 1.1em;
    width: 400px;
    margin: 20px auto 0 auto;
}


h1 {
    text-align: center;
    margin: 15px 0;
    font-size: 1.8em;
}

h2 {
    font-size: 1.2em;
    margin-top: 0;
    border-bottom: 1px solid #777777;
    padding-bottom: 5px;
}


img {
    display: block;
    width: 400px;
    height: auto;
    margin: 0 auto 20px auto;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}


section {
    background-color: #e0e0e0;
    width: 360px; /* 400px total width minus 40px total padding */
    margin: 0 auto 20px auto;
    padding: 20px;
    text-align: left;
}

section p {
    font-size: 0.9em;
    line-height: 1.4;
}


ul {
    margin: 0;
    padding-left: 20px;
    font-size: 0.9em;
}

ul li {
    margin-bottom: 5px;
}

footer {
    background-color: #333333;
    color: #ffffff;
    text-align: center;
    padding: 15px 0;
    font-size: 0.9em;
    width: 400px;
    margin: 0 auto 20px auto;
}